<div class="profile-row">
  <div class="bio">
    <h2>About <%= full_name %></h2>
     <h3> Wish: to build a sustainable tech org that feels like family. </h3>
      <p> <em>Now</em>: building <a href="http://hashtat.herokuapp.com/"> hashtat (beta) </a> and advising clients on sales development and comms. </p>
      <p> * Code padawan in Ruby on Rails, HTML/CSS, Javascript and Jquery, APIs, Git version control, and test-driven development using RSpec. Graduated from <a href="http://www.themakersquare.com/">MakerSquare's </a> first ever cohort.</p>
     <p> * Co-founded and led business development for NYC technology companies:  <a href="http://www.linkedin.com/in/tinapshah"> BluClover</a>, <a href="http://www.salido.com">Salido</a>, <a href="http://adamandluna.com/"> StoryApp </a></p>
    <p> * 7 + years solving tough & sometimes peculiar marketing & communications problems worldwide with <a href="http://www.mckinsey.com">McKinsey & Co.</a> and Towers Watson. Learned a heck of a lot about empathy- based leadership working on <a href="http://www.mckinsey.com/client_service/organization/latest_thinking/how_remarkable_women_lead">this</a>.</p>
     <p> * <a href="http://www.northwestern.edu/">Northwestern Wildcat</a> for life. It was here I set roots in the <a href="http://chicagotonight.wttw.com/">news biz</a>.</p>
    <p> * Ecstatic for the first graduating class of <a href="http://www.tepcharter.org/"> The Equity Project Charter School</a> whom I served on the Advisory board. 
     <p> * Delightfully explored 40 countries. Lived in 12 cities. Orignally from Texas. New York City is home. Join me on the next adventure? </p>
  </div>
</div>



